CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS_PROC/ServicioImpresion/Sat.CreditosFiscales.Impresion.LogicaNegocio/Service References/ServicioImpresion/ServicioImpresion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXmlDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerPDFResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPNG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strXmlDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPNGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerPNGResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>