CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS_PROC/Traductor/I_815/TraductorLC/Pruebas/TestMotor/Service References/ServicioMotor/CreditosFiscales1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditosFiscales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://satcpnasfpro25:8092/WsTraductorProcesamiento/CreditosFiscales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://satcpnasfpro25:8092/WsTraductorProcesamiento/CreditosFiscales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditosFiscales_ObtieneLineaCaptura_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneLineaCaptura" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneLineaCaptura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneLineaCapturaResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneLineaCapturaConPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneLineaCapturaConPDF" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneLineaCapturaConPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneLineaCapturaConPDFResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ConsultaLineasCapturaXDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaLineasCapturaXDocumento" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ConsultaLineasCapturaXDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaLineasCapturaXDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneDocumentosEnLineaCaptura_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneDocumentosEnLineaCaptura" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneDocumentosEnLineaCaptura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneDocumentosEnLineaCapturaResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneXMLOriginal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneXMLOriginal" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneXMLOriginal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneXMLOriginalResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneListaFolios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneListaFolios" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtieneListaFolios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneListaFoliosResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtienePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtienePDF" />
  </wsdl:message>
  <wsdl:message name="ICreditosFiscales_ObtienePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtienePDFResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditosFiscales">
    <wsdl:operation name="ObtieneLineaCaptura">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneLineaCaptura" message="tns:ICreditosFiscales_ObtieneLineaCaptura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneLineaCapturaResponse" message="tns:ICreditosFiscales_ObtieneLineaCaptura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneLineaCapturaConPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneLineaCapturaConPDF" message="tns:ICreditosFiscales_ObtieneLineaCapturaConPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneLineaCapturaConPDFResponse" message="tns:ICreditosFiscales_ObtieneLineaCapturaConPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaLineasCapturaXDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ConsultaLineasCapturaXDocumento" message="tns:ICreditosFiscales_ConsultaLineasCapturaXDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ConsultaLineasCapturaXDocumentoResponse" message="tns:ICreditosFiscales_ConsultaLineasCapturaXDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneDocumentosEnLineaCaptura">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneDocumentosEnLineaCaptura" message="tns:ICreditosFiscales_ObtieneDocumentosEnLineaCaptura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneDocumentosEnLineaCapturaResponse" message="tns:ICreditosFiscales_ObtieneDocumentosEnLineaCaptura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneXMLOriginal">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneXMLOriginal" message="tns:ICreditosFiscales_ObtieneXMLOriginal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneXMLOriginalResponse" message="tns:ICreditosFiscales_ObtieneXMLOriginal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneListaFolios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneListaFolios" message="tns:ICreditosFiscales_ObtieneListaFolios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtieneListaFoliosResponse" message="tns:ICreditosFiscales_ObtieneListaFolios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtienePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtienePDF" message="tns:ICreditosFiscales_ObtienePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditosFiscales/ObtienePDFResponse" message="tns:ICreditosFiscales_ObtienePDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditosFiscales" type="tns:ICreditosFiscales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneLineaCaptura">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtieneLineaCaptura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneLineaCapturaConPDF">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtieneLineaCapturaConPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLineasCapturaXDocumento">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ConsultaLineasCapturaXDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDocumentosEnLineaCaptura">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtieneDocumentosEnLineaCaptura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneXMLOriginal">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtieneXMLOriginal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneListaFolios">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtieneListaFolios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePDF">
      <soap:operation soapAction="http://tempuri.org/ICreditosFiscales/ObtienePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditosFiscales">
    <wsdl:port name="BasicHttpBinding_ICreditosFiscales" binding="tns:BasicHttpBinding_ICreditosFiscales">
      <soap:address location="http://satcpnasfpro25:8092/WsTraductorProcesamiento/CreditosFiscales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>