363_IDE_WEB/CODIGO/IDEWEB/Presentacion/Web/Service References/ServiceRecepcion/Recepcion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RecepcionIDEWEB.Negocio.Contratos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RecepcionIDEWEB.Negocio.Contratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoFisico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsAnual" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsNormal" type="xs:boolean" />
      <xs:element minOccurs="0" name="Formato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntidadReceptora" type="xs:int" />
      <xs:element minOccurs="0" name="IdMedioRecepcion" type="xs:int" />
      <xs:element minOccurs="0" name="Materia" type="xs:int" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RfcAutenticacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RfcContribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamañoArchivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecEntrada" nillable="true" type="tns:RecEntrada" />
  <xs:complexType name="RecSalida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rfc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tamano" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecSalida" nillable="true" type="tns:RecSalida" />
  <xs:complexType name="RecVerifica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Existencia" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecVerifica" nillable="true" type="tns:RecVerifica" />
  <xs:complexType name="ArrayOfMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" nillable="true" type="tns:Mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMensaje" nillable="true" type="tns:ArrayOfMensaje" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoMensaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
</xs:schema>