363_IDE_WEB/CODIGO/IDEWEB/Presentacion/Web/Service References/ServiceRecepcion/ServicioRecepcion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioRecepcion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRecepcion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://m320fogj6071b04.dssat.sat.gob.mx/IdeRecepcion/Recepcion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://m320fogj6071b04.dssat.sat.gob.mx/IdeRecepcion/Recepcion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://m320fogj6071b04.dssat.sat.gob.mx/IdeRecepcion/Recepcion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecepcionIDEWEB.Negocio.Contratos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecepcion_RegistrarArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarArchivo" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_RegistrarArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_ExisteArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteArchivo" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_ExisteArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_GetMensajes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMensajes" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_GetMensajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMensajesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_SiDesEncripta_InputMessage">
    <wsdl:part name="parameters" element="tns:SiDesEncripta" />
  </wsdl:message>
  <wsdl:message name="IRecepcion_SiDesEncripta_OutputMessage">
    <wsdl:part name="parameters" element="tns:SiDesEncriptaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecepcion">
    <wsdl:operation name="RegistrarArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecepcion/RegistrarArchivo" message="tns:IRecepcion_RegistrarArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecepcion/RegistrarArchivoResponse" message="tns:IRecepcion_RegistrarArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecepcion/ExisteArchivo" message="tns:IRecepcion_ExisteArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecepcion/ExisteArchivoResponse" message="tns:IRecepcion_ExisteArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMensajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecepcion/GetMensajes" message="tns:IRecepcion_GetMensajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecepcion/GetMensajesResponse" message="tns:IRecepcion_GetMensajes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SiDesEncripta">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecepcion/SiDesEncripta" message="tns:IRecepcion_SiDesEncripta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecepcion/SiDesEncriptaResponse" message="tns:IRecepcion_SiDesEncripta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRecepcion" type="tns:IRecepcion">
    <wsp:PolicyReference URI="#WSHttpBinding_IRecepcion_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarArchivo">
      <soap12:operation soapAction="http://tempuri.org/IRecepcion/RegistrarArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteArchivo">
      <soap12:operation soapAction="http://tempuri.org/IRecepcion/ExisteArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMensajes">
      <soap12:operation soapAction="http://tempuri.org/IRecepcion/GetMensajes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiDesEncripta">
      <soap12:operation soapAction="http://tempuri.org/IRecepcion/SiDesEncripta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRecepcion">
    <wsdl:port name="WSHttpBinding_IRecepcion" binding="tns:WSHttpBinding_IRecepcion">
      <soap12:address location="http://m320fogj6071b04.dssat.sat.gob.mx/IdeRecepcion/Recepcion.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://m320fogj6071b04.dssat.sat.gob.mx/IdeRecepcion/Recepcion.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>