363_IDE_WEB/CODIGO/IDEWEB/Procesamiento/DyP.Util/Common/Common.Web/Web References/WebServiceConfiguracionSetting/ConfiguracionSetting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sat.gob.mx/scade.net/services/2007_10_07/comun/configuracion" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.sat.gob.mx/scade.net/services/2007_10_07/comun/configuracion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/scade.net/services/2007_10_07/comun/configuracion">
      <s:element name="ReadSettingCfg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="settingName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tpDeclaracion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSettingCfgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSettingCfgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSettingCfgSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSettingCfg" />
  </wsdl:message>
  <wsdl:message name="ReadSettingCfgSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSettingCfgResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfiguracionSettingSoap">
    <wsdl:operation name="ReadSettingCfg">
      <wsdl:input message="tns:ReadSettingCfgSoapIn" />
      <wsdl:output message="tns:ReadSettingCfgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfiguracionSettingSoap" type="tns:ConfiguracionSettingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadSettingCfg">
      <soap:operation soapAction="http://www.sat.gob.mx/scade.net/services/2007_10_07/comun/configuracion/ReadSettingCfg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfiguracionSettingSoap12" type="tns:ConfiguracionSettingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadSettingCfg">
      <soap12:operation soapAction="http://www.sat.gob.mx/scade.net/services/2007_10_07/comun/configuracion/ReadSettingCfg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfiguracionSetting">
    <wsdl:port name="ConfiguracionSettingSoap" binding="tns:ConfiguracionSettingSoap">
      <soap:address location="http://localhost/CommonServices/ConfiguracionSetting.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfiguracionSettingSoap12" binding="tns:ConfiguracionSettingSoap12">
      <soap12:address location="http://localhost/CommonServices/ConfiguracionSetting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>