CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Procesamiento/Sat.CreditosFiscales.Procesamiento.LogicaNegocio/Service References/ServicioArcaCF/ServicioArcaCreditosFiscales1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioArcaCreditosFiscales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="" location="http://cubo837u497a001.dssat.sat.gob.mx/ServicioArcaCreditosFiscales.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IServicioArcaCreditosFiscales" type="IServicioArcaCreditosFiscales">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInformacionContribuyente">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyentes">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyentePuro">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyentePuro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyenteConFirmeza">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyenteConFirmeza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyenteConFirmezaAGSC">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyenteConFirmezaAGSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyenteConFirmezaAGSC32D">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyenteConFirmezaAGSC32D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyenteConFirmezaAGAFF_AGGC">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyenteConFirmezaAGAFF_AGGC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyentesConFirmezaAGSC">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyentesConFirmezaAGSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionContribuyenteDoctosActualizadosDyC">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/ObtenerInformacionContribuyenteDoctosActualizadosDyC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInformacionContribuyentesDoctosActualizadosDyC">
      <soap:operation soapAction="urn:IServicioArcaCreditosFiscales/obtenerInformacionContribuyentesDoctosActualizadosDyC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioArcaCreditosFiscales">
    <wsdl:port name="BasicHttpBinding_IServicioArcaCreditosFiscales" binding="tns:BasicHttpBinding_IServicioArcaCreditosFiscales">
      <soap:address location="http://cubo837u497a001.dssat.sat.gob.mx/ServicioArcaCreditosFiscales.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>