363_IDE_WEB/CODIGO/IDEWEB/Procesamiento/DyP.Util/Servicios/Seguridad/Membresia/Web References/wsIDCValidate/wsIDCValidate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="enableCIECFortalecida" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateUserModuleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPerfil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPerfilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPerfilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosFIEL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="certificateSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosFIELResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosFIELResult" type="tns:FIELCertificateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FIELCertificateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFielCertificate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAutCertificate" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenNombreRazonSocial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_rfc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenNombreRazonSocialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenNombreRazonSocialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenDatosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenDatosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenDatosUsuarioResult" type="tns:UserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizaMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizaMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarFIEL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarFIELResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarFIELResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerAtributoDirectorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerAtributoDirectorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerAtributoDirectorioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateUserModuleSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUserModule" />
  </wsdl:message>
  <wsdl:message name="ValidateUserModuleSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserModuleResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPerfilSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPerfil" />
  </wsdl:message>
  <wsdl:message name="ObtenerPerfilSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosFIELSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosFIEL" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosFIELSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosFIELResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenNombreRazonSocialSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenNombreRazonSocial" />
  </wsdl:message>
  <wsdl:message name="ObtenNombreRazonSocialSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenNombreRazonSocialResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenDatosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="ObtenDatosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaMailSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaMail" />
  </wsdl:message>
  <wsdl:message name="ActualizaMailSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaMailResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarFIELSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarFIEL" />
  </wsdl:message>
  <wsdl:message name="VerificarFIELSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarFIELResponse" />
  </wsdl:message>
  <wsdl:message name="LeerAtributoDirectorioSoapIn">
    <wsdl:part name="parameters" element="tns:LeerAtributoDirectorio" />
  </wsdl:message>
  <wsdl:message name="LeerAtributoDirectorioSoapOut">
    <wsdl:part name="parameters" element="tns:LeerAtributoDirectorioResponse" />
  </wsdl:message>
  <wsdl:portType name="idcValidationSoap">
    <wsdl:operation name="ValidateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de autenticación para Internet</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUserModule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de autenticación por Modulo</wsdl:documentation>
      <wsdl:input message="tns:ValidateUserModuleSoapIn" />
      <wsdl:output message="tns:ValidateUserModuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfil">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la información del perfil</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPerfilSoapIn" />
      <wsdl:output message="tns:ObtenerPerfilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosFIEL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la información del certificado FIEL a partir del número de serie.</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDatosFIELSoapIn" />
      <wsdl:output message="tns:ObtenerDatosFIELSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenNombreRazonSocial">
      <wsdl:input message="tns:ObtenNombreRazonSocialSoapIn" />
      <wsdl:output message="tns:ObtenNombreRazonSocialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenDatosUsuario">
      <wsdl:input message="tns:ObtenDatosUsuarioSoapIn" />
      <wsdl:output message="tns:ObtenDatosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaMail">
      <wsdl:input message="tns:ActualizaMailSoapIn" />
      <wsdl:output message="tns:ActualizaMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarFIEL">
      <wsdl:input message="tns:VerificarFIELSoapIn" />
      <wsdl:output message="tns:VerificarFIELSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerAtributoDirectorio">
      <wsdl:input message="tns:LeerAtributoDirectorioSoapIn" />
      <wsdl:output message="tns:LeerAtributoDirectorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="idcValidationSoap" type="tns:idcValidationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserModule">
      <soap:operation soapAction="http://tempuri.org/ValidateUserModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfil">
      <soap:operation soapAction="http://tempuri.org/ObtenerPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosFIEL">
      <soap:operation soapAction="http://tempuri.org/ObtenerDatosFIEL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenNombreRazonSocial">
      <soap:operation soapAction="http://tempuri.org/ObtenNombreRazonSocial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenDatosUsuario">
      <soap:operation soapAction="http://tempuri.org/ObtenDatosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaMail">
      <soap:operation soapAction="http://tempuri.org/ActualizaMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarFIEL">
      <soap:operation soapAction="http://tempuri.org/VerificarFIEL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerAtributoDirectorio">
      <soap:operation soapAction="http://tempuri.org/LeerAtributoDirectorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="idcValidationSoap12" type="tns:idcValidationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap12:operation soapAction="http://tempuri.org/ValidateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUserModule">
      <soap12:operation soapAction="http://tempuri.org/ValidateUserModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfil">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPerfil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosFIEL">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDatosFIEL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenNombreRazonSocial">
      <soap12:operation soapAction="http://tempuri.org/ObtenNombreRazonSocial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenDatosUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObtenDatosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaMail">
      <soap12:operation soapAction="http://tempuri.org/ActualizaMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarFIEL">
      <soap12:operation soapAction="http://tempuri.org/VerificarFIEL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerAtributoDirectorio">
      <soap12:operation soapAction="http://tempuri.org/LeerAtributoDirectorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="idcValidation">
    <wsdl:port name="idcValidationSoap" binding="tns:idcValidationSoap">
      <soap:address location="http://localhost/Autenticacion/wsIDCValidate.asmx" />
    </wsdl:port>
    <wsdl:port name="idcValidationSoap12" binding="tns:idcValidationSoap12">
      <soap12:address location="http://localhost/Autenticacion/wsIDCValidate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>