382_Sustitutivas/Codigo/SustitutivasMicrosoft/SAT.SUS.ServicioMicrosoft/Service References/consPagosMicrosoft/ConsultaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Pagos" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="Pagos" location="http://pagos.southcentralus.cloudapp.azure.com:9108/ConsultaServicio.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IConsultaServicio" type="i0:IConsultaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPago">
      <soap:operation soapAction="Pagos/IConsultaServicio/ConsultarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoArchivosBanco">
      <soap:operation soapAction="Pagos/IConsultaServicio/ObtenerListadoArchivosBanco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerArchivoBanco">
      <soap:operation soapAction="Pagos/IConsultaServicio/ObtenerArchivoBanco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPagoAnterior">
      <soap:operation soapAction="Pagos/IConsultaServicio/ConsultarPagoAnterior" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaClaseDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaClaseDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaClaseDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaClaseDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaClaseDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaClaseDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClaseDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertClaseDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClaseDeclaracionById">
      <soap:operation soapAction="Pagos/IConsultaServicio/ObtenerClaseDeclaracionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaTipoDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaTipoDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaTipoDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaTipoDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTipoDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/UpdateTipoDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaTipoDeclaracion">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaTipoDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaTipoComplementaria">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaTipoComplementaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaTipoComplementaria">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaTipoComplementaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTipoComplementaria">
      <soap:operation soapAction="Pagos/IConsultaServicio/UpdateTipoComplementaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaTipoComplementaria">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaTipoComplementaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaEntidadesFederativas">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaEntidadesFederativas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaEntidadesFederativas">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaEntidadesFederativas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaEntidadesFederativas">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaEntidadesFederativas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaALSC">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaALSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaALSC">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaALSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaALSC">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaALSC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaClaseDecTipoDec">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaClaseDecTipoDec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaClaseDecTipoDec">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaClaseDecTipoDec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaTipoDecTipoComp">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaTipoDecTipoComp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaTipoDecTipoComp">
      <soap:operation soapAction="Pagos/IConsultaServicio/InsertaTipoDecTipoComp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaConceptoPago">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaConceptoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaConceptoPago">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaConceptoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaPeriodicidad">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaPeriodicidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaPeriodicidad">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaPeriodicidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaPeriodo">
      <soap:operation soapAction="Pagos/IConsultaServicio/ActualizaPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaPeriodo">
      <soap:operation soapAction="Pagos/IConsultaServicio/EliminaPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaServicio">
    <wsdl:port name="BasicHttpBinding_IConsultaServicio" binding="tns:BasicHttpBinding_IConsultaServicio">
      <soap:address location="http://pagos.southcentralus.cloudapp.azure.com:9108/ConsultaServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>