CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS_PROC/Traductor/I_815/TraductorLC/Negocio/SAT.CreditosFiscales.Motor.Negocio/Service References/ServicioImpresion/ServicioGeneraFormatoImpresion41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34071/ServicioGeneraFormatoImpresion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sat.CreditosFiscales.Impresion.Entidades" />
  <xs:import schemaLocation="http://localhost:34071/ServicioGeneraFormatoImpresion.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GeneraArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sat.CreditosFiscales.Impresion.Entidades" minOccurs="0" name="template" type="q1:EnumTemplate" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaDeFolios" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneraArchivoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraArchivoImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sat.CreditosFiscales.Impresion.Entidades" minOccurs="0" name="template" type="q3:EnumTemplate" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaDeFolios" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraArchivoImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneraArchivoImagenResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>