CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS_PROC/Traductor/INC_3077570/TraductorLC/Pruebas/SAT.CreditosFiscales.Motor.Pruebas/Service References/RecepcionLC/Recepcion3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosLineaCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaVigencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineaCaptura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoObligadoInternet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosLineaCaptura" nillable="true" type="tns:DatosLineaCaptura" />
  <xs:complexType name="ArrayOfDatosLineaCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatosLineaCaptura" nillable="true" type="tns:DatosLineaCaptura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatosLineaCaptura" nillable="true" type="tns:ArrayOfDatosLineaCaptura" />
</xs:schema>