CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS_PROC/Traductor/I_815/TraductorLC/Negocio/SAT.CreditosFiscales.Motor.Negocio/Service References/RecepcionLC/Recepcion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Sat.Scade.Sispr" elementFormDefault="qualified" targetNamespace="Sat.Scade.Sispr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://99.90.41.65:9093/RecepcionSispr/Recepcion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun.Request" />
  <xs:import schemaLocation="http://99.90.41.65:9093/RecepcionSispr/Recepcion.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun.Response" />
  <xs:element name="GenerarLineaCaptura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun.Request" minOccurs="0" name="solicitud" nillable="true" type="q1:SolicitudGeneracionLC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarLineaCapturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sat.Scade.Sispr.Modelo.Comun.Response" minOccurs="0" name="GenerarLineaCapturaResult" nillable="true" type="q2:RespuestaGeneracionLC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>