363_IDE_WEB/CODIGO/IDEWEB/MonitorIDEWEB/MonitorIDEWEB/App_WebReferences/ServiceMonitor/ServicioMonitor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioMonitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IServicioMonitor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://dypserver/IdeMonitorService/ServicioMonitor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://dypserver/IdeMonitorService/ServicioMonitor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://dypserver/IdeMonitorService/ServicioMonitor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IdeMonitorService.Negocio.Contratos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioMonitor_TraerDeclaraciones_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerDeclaraciones" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerDeclaraciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerDeclaracionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerBitacora_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerBitacora" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerBitacora_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerBitacoraResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerCatalogos_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerCatalogos" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerCatalogos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerCatalogosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerEstadistica_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstadistica" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerEstadistica_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerEstadisticaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerAcuse_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerAcuse" />
  </wsdl:message>
  <wsdl:message name="IServicioMonitor_TraerAcuse_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerAcuseResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioMonitor">
    <wsdl:operation name="TraerDeclaraciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMonitor/TraerDeclaraciones" message="tns:IServicioMonitor_TraerDeclaraciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMonitor/TraerDeclaracionesResponse" message="tns:IServicioMonitor_TraerDeclaraciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerBitacora">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMonitor/TraerBitacora" message="tns:IServicioMonitor_TraerBitacora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMonitor/TraerBitacoraResponse" message="tns:IServicioMonitor_TraerBitacora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerCatalogos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMonitor/TraerCatalogos" message="tns:IServicioMonitor_TraerCatalogos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMonitor/TraerCatalogosResponse" message="tns:IServicioMonitor_TraerCatalogos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerEstadistica">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMonitor/TraerEstadistica" message="tns:IServicioMonitor_TraerEstadistica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMonitor/TraerEstadisticaResponse" message="tns:IServicioMonitor_TraerEstadistica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerAcuse">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioMonitor/TraerAcuse" message="tns:IServicioMonitor_TraerAcuse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioMonitor/TraerAcuseResponse" message="tns:IServicioMonitor_TraerAcuse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IServicioMonitor" type="tns:IServicioMonitor">
    <wsp:PolicyReference URI="#WSHttpBinding_IServicioMonitor_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerDeclaraciones">
      <soap12:operation soapAction="http://tempuri.org/IServicioMonitor/TraerDeclaraciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerBitacora">
      <soap12:operation soapAction="http://tempuri.org/IServicioMonitor/TraerBitacora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerCatalogos">
      <soap12:operation soapAction="http://tempuri.org/IServicioMonitor/TraerCatalogos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEstadistica">
      <soap12:operation soapAction="http://tempuri.org/IServicioMonitor/TraerEstadistica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerAcuse">
      <soap12:operation soapAction="http://tempuri.org/IServicioMonitor/TraerAcuse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioMonitor">
    <wsdl:port name="WSHttpBinding_IServicioMonitor" binding="tns:WSHttpBinding_IServicioMonitor">
      <soap12:address location="https://dypserver/IdeMonitorService/ServicioMonitor.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://dypserver/IdeMonitorService/ServicioMonitor.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>