CreditosFiscales/Fuentes/RCOBRANZA_ADEUDOS/Presentacion/Sat.CreditosFiscales.Presentacion.Portal/Service References/ServiceReference1/ServicioLog2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27046/ServicioLog.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Diagnostics" />
  <xs:element name="EscribirEntradaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventoID" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Diagnostics" minOccurs="0" name="eventoLogTipo" type="q1:EventLogEntryType" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscribirEntradaLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>